@{
    ViewBag.Active = "Lodge";
    ViewBag.Title = "Chỗ Trọ";
}


<!-- PAGE TITLE
================================================== -->
	<section class="pageheader-default text-center">
	<div class="semitransparentbg">
		<h1 class="animated fadeInLeftBig notransition">Chỗ Trọ</h1>
		<p class="animated fadeInRightBig notransition container page-description">
			 Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
			 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	</div>
	</section>
	<div class="wrapsemibox">
		<div class="semiboxshadow text-center">
			<img src="/Content/img/shp.png" class="img-responsive" alt="">
		</div>
		
	
	</div>
	<!-- /.wrapsemibox end-->
    
