
table{
	width: 80%;
}
tbody td{
	text-align: center;
}
th:hover{
	background-color: yellow;
}
tbody > tr:hover{
	background-color: cyan;
}
.orderAsc{
	background:url('/Content/img/asc.png') no-repeat 95% center;
}
.orderDes{
	background:url('/Content/img/des.png') no-repeat 95% center;
}
.orderHidden{
	background: none;
}
.pageIndex{
	padding:0 3px;
	border:1px solid gray;
	color:black;
	text-decoration:none
}
.pageIndex:hover{
	color:red;
	background: yellow;
}
.pageActive{
	background: cyan;
}