
/*Header Default
------------------------------------*/
.header {
	z-index: 99;
	position: relative;
	border-bottom: solid 2px #eee;
}

.header .navbar {
	margin: 0;
	min-height: inherit;
}

.header .navbar-default {
	border: none;
	background: none;
}

.header .navbar-collapse {
	position: relative;
	/*max-height: inherit;*/
}

/*Brand*/
.header .navbar-brand { 
	z-index: 1;
	top: -10px;
	position: relative;
	padding: 0 10px 10px;
}

@media (max-width: 992px) {
	.header .navbar-brand { 
		top: 0;
		height: 40px;
	}
}

/*Navbar*/
@media (min-width: 992px) {
	.header .navbar-nav {
		float: right;
	}	
}

.header .navbar-default .navbar-nav > li > a {
	color: #687074;
	font-size: 15px;
	font-weight:400;
	text-transform: uppercase;
}

.header .navbar-default .navbar-nav > .active > a {
	color: #72c02c;
}

/*Dropdown*/
.header .navbar-right .dropdown-menu {
	right: inherit;
}

/*Navbar Toggle*/
.navbar-toggle,
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
	background: #72c02c;
	padding: 6px 10px 2px;
}

.navbar-default .navbar-toggle {
	border-color: #5fb611;
}

.navbar-default .navbar-toggle:hover {
	background: #5fb611;
}

.navbar-default .navbar-toggle .fa {
	color: #fff;
	font-size: 19px;
}

/*Responsive Navbar*/
@media (max-width: 767px) {
	.header .navbar-default .navbar-nav > li > a {
		font-size: 14px;
		padding: 9px 10px;
	}

	.header .navbar-default .navbar-nav > li a {
		/*margin-bottom: 1px;*/
		border-bottom: solid 1px #eee;
	}

	.header .navbar-default .navbar-nav > li > a:focus {
		background: none;
	}

	.header .navbar-default .navbar-nav > li > a:hover {
		color: #72c02c;
	}

	.header .navbar-default .navbar-nav > .active > a,
	.header .navbar-default .navbar-nav > .active > a:hover,
	.header .navbar-default .navbar-nav > .active > a:focus {
		color: #fff;
		background: #72c02c;
		/*border-bottom: solid 2px #72c02c;*/
	}

	.header .dropdown-submenu li a { 
		font-size: 12px;
	}	
}

@media (min-width: 767px) {
	/*Navbar Collapse*/
	.header .navbar-collapse {
		padding: 0;
	}

	/*Navbar*/
	.header .navbar-nav {
		top: 2px;
		position: relative;
	}

	.header .navbar-default .navbar-nav > li > a {
		padding: 9px 30px 9px 20px;		
	}

	.header .navbar-default .navbar-nav > li > a,
	.header .navbar-default .navbar-nav > li > a:focus {	
		border-bottom: solid 2px transparent;
	}

	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > .active > a {
		border-bottom: solid 2px #72c02c;
	}
	
	.header .navbar-default .navbar-nav > li > a,
	.header .navbar-default .navbar-nav > li > a:hover,
	.header .navbar-default .navbar-nav > li > a:focus,	
	.header .navbar-default .navbar-nav > .active > a, 
	.header .navbar-default .navbar-nav > .active > a:hover, 
	.header .navbar-default .navbar-nav > .active > a:focus {
		background: none;
	}
	

	.header .navbar-default .navbar-nav > .open > a,
	.header .navbar-default .navbar-nav > .open > a:hover,
	.header .navbar-default .navbar-nav > .open > a:focus {
		color: #687074;
	}

	/*Dropdown Menu*/
	.header .dropdown-menu { 
		padding: 0;
		border: none;
		min-width: 200px;
		border-radius: 0; 
		z-index: 9999 !important;
		margin-top: -2px !important; 
		border-top: solid 2px #72c02c; 
		border-bottom: solid 2px #687074; 
	}

	.header .dropdown-menu li a { 
		color: #687074; 
		font-size: 13px; 
		font-weight: 400; 
		padding: 6px 15px; 
		border-bottom: solid 1px #eee;
	}

	.header .dropdown-menu .active > a,
	.header .dropdown-menu li > a:hover {
		color: #fff;
		filter: none !important;
		background: #687074 !important;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}

	.header .dropdown-menu li > a:focus {
		background: none;
		filter: none !important;
	}

	.header .navbar-nav > li.dropdown:hover > .dropdown-menu {
		display: block;
	}	
}

/*Search Box*/
.header .navbar .nav > li > .search {
	color: #aaa;
	cursor: pointer;
	min-width: 35px;
	font-size: 15px;
	text-align: center;
	background: #f7f7f7;
	padding: 11px 0 12px;
	display: inline-block;
	border-bottom: solid 2px #aaa;
}

.header .navbar .nav > li > .search:hover {
	color: #72c02c;
	background: #f7f7f7;
	border-bottom-color: #72c02c;
}

.header .navbar .search-open {
	right: 0; 
	top: 38px; 
	display: none;
	padding: 14px; 
	position: absolute;
	background: #fcfcfc; 
	border-top: solid 2px #eee;
	box-shadow: 0 1px 3px #ddd; 
}

.header .navbar .search-open form {
	margin: 0;	
}

@media (min-width: 767px) {
	.header .navbar .search-open {
		width: 330px;
	}

	.header .open > .dropdown-menu,
	.header-v1 .open > .dropdown-menu {
		display: none;
	}
}

@media (max-width: 767px) {
	.header .navbar .nav > li > .search {
		color: #999;
		width: 35px;
		height: 34px;
		line-height: 12px;
		text-align: left;
		text-align: center;
		margin: 5px 10px 0;
		background: #eee;
		border-bottom: none;
	}

	.header .navbar .nav > li > .search:hover {
		background: #5fb611;
		color: #fff !important;
	}

	.header .navbar .search-open {
		top: 5px;
		padding: 0;
		left: 48px;
		border-top: none;
		box-shadow: none;
		background: none; 
		margin-right: 10px;
	}
}

/*Header Fixed
------------------------------------*/
/*Header*/
.header-fixed .header {
	height: 78px;
}

.header-fixed .header.header-fixed-shrink {
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	z-index: 9999;
	position: fixed;	
    margin-top: 0;
	background: rgba(255,255,255, 0.9);
	border-bottom-color: #f5f5f5;
	-webkit-transition: height 0.6s;
	-moz-transition: height 0.6s;
	transition: height 0.6s;
}

/*Brand*/
.header-fixed .header.header-fixed-shrink .navbar-brand { 
	z-index: 1;
	top: -10px;
	position: relative;
	padding: 0 10px 10px;
}

.header-fixed .header.header-fixed-shrink .navbar-brand img {
	width: 90%;
}

.header-fixed .header.header-fixed-shrink .search,
.header-fixed .header.header-fixed-shrink .active a {
	border-bottom: none !important;
}

.header-fixed .header.header-fixed-shrink .dropdown > a:after {
	top: 19px;
}

/*Toggle*/
.header-fixed .navbar-toggle {
	margin-top: 5px;
}

.header-fixed .header.header-fixed-shrink .top {
    z-index: 12;
	padding: 0 0;
	position: relative;
}

/*Search Bar*/
.header-fixed .header.header-fixed-shrink .search {
	margin-top: 12px;
	/*padding: 8px !important;*/
    padding: 0 !important;
	color: #585f69 !important;
	background: none !important;
}

.header-fixed .header.header-fixed-shrink .search-open {
	border-top: none;
	background: rgba(255,255,255, 0.9);	
}

/*Responsive Fixed Header*/
@media (max-width: 992px) {
	/*Header*/
	.header-fixed .header {
		height: 118px;
	}

	.header-fixed .header.header-fixed-shrink {
		height: 135px;
	}
}

@media (max-width: 767px) {
	/*Header*/
	.header-fixed .header,
	.header-fixed .header.header-fixed-shrink {
		height: 88px;
	}

	/*Navbar*/
	.header-fixed .header .navbar-nav {
		background: #fff;
		padding: 0 0;
		margin-top: 0px;
		border: solid 1px #eee;
	}
	
	.header-fixed .header .navbar-default .navbar-collapse, 
	.header-fixed .header .navbar-default .navbar-form {
		border: none;
	}

	/*Toggle*/
	.header-fixed .navbar-toggle {
		margin-top: 9px;
	}

	/*Search*/
	.header-fixed .header.header-fixed-shrink .navbar .nav > li > .search {
		top: 5px;
		position: relative;
	}	
}

@media (min-width: 767px) {
	/*Navbar*/
	.header-fixed .header.header-fixed-shrink .navbar-nav > li > a {
		/*padding: 19px 30px 18px 20px;*/
        padding: 9px 30px 9px 20px;
		border-bottom: solid 1px transparent !important;
	}

	/*Search Bar*/
	.header-fixed .header.header-fixed-shrink .search-open {
		top: 56px;
	}	
}

