@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "SPONSOR";
}

<div class="service-one">
    <div class="service-one-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="s-one-item sitem-one">
                        <i class="icon-gear"></i>
                        <div class="s-one-caption">
                            <h4>@Html.ActionLink("Manage Lodge", "ManageLodge")</h4>
                            <p>Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="s-one-item sitem-two">
                        <i class="icon-gear"></i>
                        <div class="s-one-caption">
                            <h4>@Html.ActionLink("Manage Car", "ManageCar")</h4>
                            <p>Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="s-one-item sitem-three">
                        <i class="icon-gear"></i>
                        <div class="s-one-caption">
                            <h4>@Html.ActionLink("Manage Fund", "ManageFund")</h4>
                            <p>Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
