<div class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="footer-widget">
                        <h5><span><i class="icon-puzzle-piece"></i></span>Navigation Menu</h5>
                        <ul class="menu">
                            <li><a href="#"><i class="icon-home"></i>Home</a></li>
                            <li><a href="#"><i class="icon-book"></i>Careers</a></li>
                            <li><a href="#"><i class="icon-picture"></i>Gallery</a></li>
                            <li><a href="#"><i class="icon-group"></i>Testimonial</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="footer-widget">
                        <h5><span><i class="icon-phone"></i></span>Contact Us</h5>
                        <p>
                            <i class="icon-envelope"></i><a href="#">khoandse@gmail.com</a><br />
                            <i class="icon-phone"></i>(+840)169.968.1992
                        </p>
                        <div class="social">
                            <a href="https://www.facebook.com/groups/group22.tsmt/" class="facebook"><i class="icon-facebook"></i></a>
                            <a href="#" class="twitter"><i class="icon-twitter"></i></a>
                            <a href="#" class="google-plus"><i class="icon-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="icon-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="footer-widget">
                        <h5><span><i class="icon-gears"></i></span>Dolor Sitamet</h5>
                        <ul>
                            <li><a href="#">Sed do eiusmod</a></li>
                            <li><a href="#">Excepteur sint occaeca</a></li>
                            <li><a href="#">Nemo enim ipsam</a></li>
                            <li><a href="#">Voluptatem accusantium</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="footer-widget">
                        <h5><span><i class="icon-envelope"></i></span>Subscribe Now</h5>
                        <p>At vero eos et accus odiusantiuo dign amus et iustod.</p>
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Email">
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="button"><i class="icon-envelope"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>Project <a href="https://www.facebook.com/groups/group22.tsmt/" style="color: blue;">"Tiếp sức mùa thi"</a> - Group 22</p>
        </div>
    </div>
</div>
