@using TSMT.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - TSMT</title>
    <!-- CSS Global Compulsory-->
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Content/plugins/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="~/Content/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/headers/header1.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link rel="shortcut icon" href="~/Content/img/favicon.png">
    <!-- CSS Implementing Plugins -->
    
    <link rel="stylesheet" href="~/Content/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="~/Content/plugins/bxslider/jquery.bxslider.css">
    <link rel="stylesheet" href="~/Content/plugins/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="~/Content/plugins/revolution_slider/rs-plugin/css/settings.css" type="text/css" media="screen">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="~/Content/css/pages/portfolio-v2.css">
    <link rel="stylesheet" href="~/Content/css/pages/page_one.css">
    <link href="~/Content/css/pages/page_search.css" rel="stylesheet" />
    <link href="~/Content/css/app.css" rel="stylesheet" />

    <script src="~/Content/js/jquery.ui.effect.js"></script>
    <script src="~/Content/js/jquery.ui.effect-fold.js"></script>

    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Content/js/jquery.ui.effect-fold.js"></script>
    <script src="~/Scripts/ckfinder/ckfinder.js"></script>

    <!-- CSS Theme -->
    @if (Session["acc"] != null)
    {

        int roleID = ((Account)Session["acc"]).RoleID;

        switch (roleID)
        {
            case 1: @*Candidate*@
        <link rel="stylesheet" href="~/Content/css/themes/blue.css">
        <link rel="stylesheet" href="~/Content/css/themes/headers/header1-blue.css">
                break;

            case 2: @*Charity*@
        <link rel="stylesheet" href="~/Content/css/themes/orange.css">
        <link rel="stylesheet" href="~/Content/css/themes/headers/header1-orange.css">
                break;

            case 3: @*Sponsor*@
        <link rel="stylesheet" href="~/Content/css/themes/default.css">
        <link rel="stylesheet" href="~/Content/css/headers/header1.css">
                break;

            case 4: @*Volunteer*@
        <link rel="stylesheet" href="~/Content/css/themes/pink.css">
        <link rel="stylesheet" href="~/Content/css/themes/headers/header1-pink.css">
                break;

            case 5: @*Admin*@
        <link rel="stylesheet" href="~/Content/css/themes/red.css">
        <link rel="stylesheet" href="~/Content/css/themes/headers/header1-red.css">
                break;

        }
    }
    else if (Session["acc"] == null)
    {
        <link rel="stylesheet" href="~/Content/css/themes/blue.css">
        <link rel="stylesheet" href="~/Content/css/themes/headers/header1-blue.css">

    }


    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="~/Content/js/app.js"></script>
    <script type="text/javascript" src="~/Content/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/hover-dropdown.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="~/Content/plugins/less-1.4.1.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/bxslider/jquery.bxslider.js"></script>
    <script type="text/javascript" src="~/Content/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/Content/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/jquery.mixitup.min.js"></script>
    
    <script type="text/javascript" src="~/Content/js/pages/portfolio.js"></script>
    <script type="text/javascript" src="~/Content/js/pages/index.js"></script>



</head>
<body class="header-fixed"> @*header-fixed boxed-layout container*@
    @* <!--=== Style Switcher ===-->
    <i class="style-switcher-btn fa fa-cogs hidden-xs"></i>
    <div class="style-switcher">
        <div class="theme-close"><i class="fa fa-trash-o"></i></div>
        <div class="theme-heading">Theme Colors</div>
        <ul class="list-unstyled">
            <li class="theme-default theme-active" data-style="default" data-header="light"></li>
            <li class="theme-blue" data-style="blue" data-header="light"></li>
            <li class="theme-orange" data-style="orange" data-header="light"></li>
            <li class="theme-red" data-style="red" data-header="light"></li>
            <li class="theme-light last" data-style="light" data-header="light"></li>
        </ul>
        <div style="margin-bottom: 18px;"></div>
        <div class="theme-heading">Layouts</div>
        <div class="text-center">
            <a href="#" class="btn-u btn-u-green btn-block active-switcher-btn wide-layout-btn">Wide</a>
            <a href="#" class="btn-u btn-u-green btn-block boxed-layout-btn">Boxed</a>
        </div>
    </div>
    <!--/style-switcher-->
    <!--=== End Style Switcher ===-->*@

    
    @Html.Partial("_HeaderPartial")

    @RenderSection("Breadcrumbs", required: false)
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    @*@Html.Partial("_FooterPartial")*@
    @*@Html.Partial("_CopyrightPartial")*@

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            Portfolio.init();
            App.initSliders();
            App.initFancybox();
            App.initBxSlider();
            Index.initRevolutionSlider();
        });
    </script>

    <style type="text/css">
        #switcherSideBar {
            position: absolute;
            z-index: 2000;
            cursor: pointer;
            opacity: 0.7;
        }

            #switcherSideBar:hover {
                opacity: 1;
            }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            if ($('#sideBar').length > 0) {
                var swicherSideBar = document.createElement("img");
                swicherSideBar.id = "switcherSideBar";
                swicherSideBar.src = "/Content/img/TSMTzip.png";
                swicherSideBar.title = "Ẩn menu truy cập nhanh";
                swicherSideBar.style.width = "31px";
                swicherSideBar.style.height = "85px";
                swicherSideBar.style.top = $('#sideBar').offset().top + "px";
                swicherSideBar.style.left = $('#sideBar').offset().left - $(swicherSideBar).width() + "px";
                $('#sideBar')[0].parentNode.appendChild(swicherSideBar);
            }

            //$(".panel-heading").click(function () {
            //    $(this.parentNode).find(".panel-body").slideToggle();
            //});

            $("#switcherSideBar").click(function () {
                var img = this;
                var sideBar = $('#sideBar');
                var mainContent = $('.col-md-9')[0];

                if ($(sideBar).is(':visible')) {
                    $(sideBar).hide('slow', function () {
                        img.src = "/Content/img/TSMTunzip.png";
                        img.title = "Hiện menu truy cập nhanh";
                    });
                    $(mainContent).animate({ width: '100%' }, 'slow');
                } else {
                    $(mainContent).css('float', 'right');
                    $(mainContent).animate({ width: '75%' }, 'fast', function () {
                        $(sideBar).fadeIn('fast', function () {
                            img.src = "/Content/img/TSMTzip.png";
                            img.title = "Ẩn menu truy cập nhanh";
                        });
                        $(mainContent).css('float', 'left');
                    });
                }
            });
        });
    </script>
</body>
</html>
