@{
    ViewBag.Title = "Đổi mật khẩu";
    ViewBag.Active = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumbs {
    <div class="breadcrumbs margin-bottom-20">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
           @* <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li class="active">Hội từ thiện</li>
            </ul>*@
        </div>
    </div>
}
@Html.Partial("_AccountSidebarPartial")

