@{
    ViewBag.Title = "EditProfile";
}

<div class="inner-page">
					<!-- Inner page headder -->
					<div class="inner-page-header">
						<div class="container">
							<!-- Header inner -->
							<div class="header-inner">
								<!-- Heading -->
								<h2>Testimonial</h2>
								<!-- Paragraph -->
								<p><span class="red">&#47;&#47;</span> Sed ut perspiciatis of Lorem Ipsum.</p>
							</div>
						</div>
					</div>
							
					<!-- inner page content start -->
					<div class="inner-page-content inner-testimonial">
						<div class="container">
							<div class="row">
								<div class="col-md-4">
									<!-- Testimonial item -->
									<div class="testimonial-item">
										<!-- User Image -->
										<img src="img/user-big.jpg" class="img-responsive img-thumbnail img-circle" alt="" />
										<!-- User name and designation -->
										<h4>H. Natus<span>, CEO</span></h4>
										<!-- User comments -->
										<blockquote>
											<p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
										</blockquote>
									</div>
								</div>
								<div class="col-md-4">
									<!-- Testimonial item -->
									<div class="testimonial-item">
										<!-- User Image -->
										<img src="img/user-big.jpg" class="img-responsive img-thumbnail img-circle" alt="" />
										<!-- User name and designation -->
										<h4>Jon Asse<span>, MD</span></h4>
										<!-- User comments -->
										<blockquote>
											<p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
										</blockquote>
									</div>
								</div>
								<div class="col-md-4">
									<!-- Testimonial item -->
									<div class="testimonial-item">
										<!-- User Image -->
										<img src="img/user-big.jpg" class="img-responsive img-thumbnail img-circle" alt="" />
										<!-- User name and designation -->
										<h4>Tas Mend<span>, CA</span></h4>
										<!-- User comments -->
										<blockquote>
											<p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
										</blockquote>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<!-- Testimonial item -->
									<div class="testimonial-item">
										<!-- User Image -->
										<img src="img/user-big.jpg" class="img-responsive img-thumbnail img-circle" alt="" />
										<!-- User name and designation -->
										<h4>R. Gheos<span>, CA II</span></h4>
										<!-- User comments -->
										<blockquote>
											<p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
										</blockquote>
									</div>
								</div>
								<div class="col-md-4">
									<!-- Testimonial item -->
									<div class="testimonial-item">
										<!-- User Image -->
										<img src="img/user-big.jpg" class="img-responsive img-thumbnail img-circle" alt="" />
										<!-- User name and designation -->
										<h4>Den Louse<span>, FM</span></h4>
										<!-- User comments -->
										<blockquote>
											<p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
										</blockquote>
									</div>
								</div>
								<div class="col-md-4">
									<!-- Testimonial item -->
									<div class="testimonial-item">
										<!-- User Image -->
										<img src="img/user-big.jpg" class="img-responsive img-thumbnail img-circle" alt="" />
										<!-- User name and designation -->
										<h4>Oues Lenn<span>, CA III</span></h4>
										<!-- User comments -->
										<blockquote>
											<p>Sed ut perspiciatis unde omnis iste natust error sit vol accusantium doloremque and laudantium, totam rem aperiam, eaque an ipsa quae abe illo explicabo. An oiuk nesciunt.</p>
										</blockquote>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- inner page content end -->
							
				</div>
			   
				<!-- Inner page end -->
