@{
    ViewBag.Title = "Đăng nhập vào TSMT";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="container">    
    <div class="reg-block">
        <div class="reg-block-header">
            <h2>Đăng Nhập</h2>
            <ul class="list-inline style-icons text-center">
                <li><a href="@Url.Action("Index", "Home")"><i class="icon-home icon-round icon-round-sm icon-color-grey"></i> Trang Chủ </a></li>
                <li><a href="@Url.Action("Register", "Account")"><i class=" icon-info icon-round icon-round-sm icon-color-grey"></i> Đăng Ký </a></li>
            </ul>
        </div>
       @using (Html.BeginForm("Login","Account",FormMethod.Post))
       {
           <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
            @*<form action="/Account/Login" method="post">*@
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="icon-envelope"></i></span>
                <input type="text" class="form-control" placeholder="Địa chỉ email" id="Email" name="Email">
            </div>
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control" placeholder="Mật khẩu" id="Password" name="Password">
            </div>
            <hr>
            <label class="checkbox">
              @*  <input type="checkbox">
                <p>Lưu trạng thái đăng nhập</p>*@
                <a href="#">Quên mật khẩu?</a>
            </label>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn-u btn-block">Đăng nhập!</button>
                </div>
            </div>
        @*</form>*@
       }
        
    </div>    
</div>


