@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h2 class="title_of_page">Add University</h2>
@using (Html.BeginForm("AddUniversity", "Admin", FormMethod.Post))
{
    <table>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" name="Name" /></td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                <input type="text" name="Address" /></td>
        </tr>
        <tr>
            <td>UniversityCode</td>
            <td>
                <input type="text" name="UniversityCode" /></td>
        </tr>
        <tr>
            <td>Website</td>
            <td>
                <input type="text" name="Website" /></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>
                <input type="text" name="Phone" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Create" class="btn btn-info" />
                <input type="reset" value="Reset" class="btn btn-info" />
            </td>
        </tr>
    </table>
}
