@using TSMT.Models

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="title_of_page">Add Venue</h2>
@using (Html.BeginForm("AddVenue", "Admin", FormMethod.Post))
{
    <input type="hidden" name="ueId" value="@ViewData["ueId"]" />
    <table>
        <tr>
            <td>Address</td>
            <td>
                <input type="text" name="Address" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Create" class="btn btn-info" />
                <input type="reset" value="Reset" class="btn btn-info" />
            </td>
        </tr>
    </table>
}
