@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "ControlPanelPage";
}

<h2>ControlPanelPage</h2>

<div class="service-one">
					<div class="service-one-inner">
						<div class="container">
							<!-- Header heading -->
							<h3 class="head"><i class="icon-gears lblue"></i> Service #1</h3>
						    <div class="row">
						        <div class="col-md-4">
						            <!-- service item -->
						            <div class="s-one-item sitem-one">
						                <!-- Service icon -->
						                <i class="icon-gear"></i>
						                <!-- caption -->
						                <div class="s-one-caption">
						                    <!-- Heading -->
						                    <h4><a href="#">Thống Kê</a></h4>
						                    <!-- Paragraph -->
						                    <p>Click vào để xem thống kê của hệ thống</p>
						                </div>
						            </div>
						        </div>
						        <div class="col-md-4">
						            <!-- service item -->
						            <div class="s-one-item sitem-two">
						                <!-- Service icon -->
						                <i class="icon-briefcase"></i>
						                <!-- caption -->
						                <div class="s-one-caption">
						                    <!-- Heading -->
						                    <h4><a href="#">Quản lý thành viên</a></h4>
						                    <!-- Paragraph -->
						                    <p>Quản lý danh sách thành viên có trong hệ thống</p>
						                </div>
						            </div>
						        </div>
						        <div class="col-md-4">
						            <!-- service item -->
						            <div class="s-one-item sitem-three">
						                <!-- Service icon -->
						                <i class="icon-bug"></i>
						                <!-- caption -->
						                <div class="s-one-caption">
						                    <!-- Heading -->
						                    <h4><a href="#">Quản lý tin tức</a></h4>
						                    <!-- Paragraph -->
						                    <p>Quản lý phần tin tức của hệ thống, viết bài, cho phép đăng, chỉnh sửa, xóa bài</p>
						                </div>
						            </div>
						        </div>
						    </div>
                            <div class="row">
								<div class="col-md-4">
									<!-- service item -->
									<div class="s-one-item sitem-one">
										<!-- Service icon -->
										<i class="icon-gear"></i>
										<!-- caption -->
										<div class="s-one-caption">
											<!-- Heading -->
											<h4><a href="#">Manage Categories</a></h4>
											<!-- Paragraph -->
											<p>Quản lý categories của bài viết có trong hệ thống</p>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<!-- service item -->
									<div class="s-one-item sitem-two">
										<!-- Service icon -->
										<i class="icon-briefcase"></i>
										<!-- caption -->
										<div class="s-one-caption">
											<!-- Heading -->
											<h4><a href="#">Manage Exam, University, Venue</a></h4>
											<!-- Paragraph -->
											<p>Quảng lý kì thi, trường đại học, địa điểm thi</p>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<!-- service item -->
									<div class="s-one-item sitem-three">
										<!-- Service icon -->
										<i class="icon-bug"></i>
										<!-- caption -->
										<div class="s-one-caption">
											<!-- Heading -->
											<h4><a href="#">Create UniversityExamination</a></h4>
											<!-- Paragraph -->
											<p>Tạo kì thi cho trường đại học</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>