@model TSMT.Models.UniversitiesExamination
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="title_of_page">Details Uni-Exam</h2>

<div class="service-one">
    <div class="service-one-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="s-one-item sitem-one">
                        <i class="icon-briefcase"></i>
                        <div class="s-one-caption">
                            <h4>@Html.ActionLink("Manage Venues", "ManageVenue", new { ueId = Model.UniExamID})</h4>
                            <p>Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
