@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thí sinh";
    ViewBag.Active = "CandidateHome";
}

@*@Html.Partial("_CandidateSidebarPartial")*@


@section Breadcrumbs {
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">@ViewBag.Title</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="@Url.Action("Index", "Home")">Trang Chủ</a></li>                
                <li class="active">@ViewBag.Title</li>
            </ul>
        </div>
    </div>
}
<div class="service-one">
    <div class="service-one-inner">
        <div class="container">
            <h3 class="head"><i class="fa fa-gears lblue"></i>Control Panel</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="s-one-item sitem-one">
                        <i class="fa fa-gear"></i>
                        <div class="s-one-caption">
                            <h4>@Html.ActionLink("Manage Exam Paper", "ManageExamPaper")</h4>
                            <p>Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
