@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "CANDIDATE";
}

<div class="service-one">
    <div class="service-one-inner">
        <div class="container">
            <h3 class="head"><i class="icon-gears lblue"></i>Control Panel</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="s-one-item sitem-one">
                        <i class="icon-gear"></i>
                        <div class="s-one-caption">
                            <h4>@Html.ActionLink("Manage Exam Paper", "ManageExamPaper")</h4>
                            <p>Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
