@model TSMT.Models.DataAccess

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="title_of_page">Chỉnh Sửa Thông Tin Danh Sách</h2>

@using (Html.BeginForm("EditCategoryInfo", "Admin", FormMethod.Post, new {@class = "form-horizontal", style = "margin-left: 15%; margin-right: 15%"}))
{
    @Html.HiddenFor(model => model.CategoryID)
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="email" class="col-md-2 control-label">Tên Danh Mục: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryName, new {@style = "width: 70% !important"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-info">Chỉnh Sửa</button>
                <button type="reset" class="btn btn-info">Làm Lại</button>
                <button type="button" class="btn btn-info" onclick="window.history.back(-1);return false;">Quay Lại</button>
            </div>
        </div>
    </form>
}