@{
    ViewBag.Title = "ImportData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function callAjax() {
        //var id = document.getElementById(file).textContent;
        var file = document.getElementById("FileUpload").value;
        $.ajax({
                url: 'ReviewDataImported',
                //data: { "file": File},
                type: 'Post',
                success: function (results) {
                    $("#review").html("");
                    var r;
                    for (i in results) {
                        r = results[i];
                        $("#review").append("<tr><td>"+ r.Name +"</td><td>"+ r.Address+"</td></tr>");
                    }
                }
            });

    }
</script>
<h2>ImportData</h2>
@using (Html.BeginForm("Importexcel", "Admin", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <div>

        <input type="file" id="FileUpload"
               name="FileUpload" required data-val="true" data-val-required="please select a file" />

        <input type="submit" id="Submit" class="submit" onclick="" value="Upload" title="Click to upload file" />
    </div>
    <table id = "review">
        
    </table>
}