@{
    ViewBag.Title = "VerifyAccount";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="container">
    <div class="reg-block">
        <div class="reg-block-header">
            <h2>Xác thực tài khoản</h2>
            <ul class="list-inline style-icons text-center">
                <li><a href="@Url.Action("Index", "Home")"><i class="icon-home icon-round icon-round-sm icon-color-grey"></i>Trang Chủ </a></li>
                <li><a href="@Url.Action("Register", "Account")"><i class=" icon-info icon-round icon-round-sm icon-color-grey"></i> Đăng Ký </a></li>
            </ul>
        </div>
        <form id="verify" name="verify" action="/Account/VerifyAccount" method="post">
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="icon-envelope"></i></span>
                <input type="text" class="form-control" placeholder="Email" id="Email" name="Email">
            </div>
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" class="form-control" placeholder="Mã kích hoạt" id="code" name="Code">
            </div>
            <hr />
             <div class="row margin-bottom-1" style="position:inherit">         
                 <div class="col-md-2"></div>       
                <div class="col-md-4">
                    <button type="submit" class="btn-u btn-u-blue btn-block" name="submit" value="Submit">Kích hoạt</button>
                </div>
                <div class="col-md-4">
                    <button type="reset" class="btn-u btn-u-red btn-block" value="Reset">Đặt lại</button>
                </div>
                 <div class="col-md-2"></div>       
             </div>
            
        </form>
    </div>
</div>

