@{
    ViewBag.Title = "AddCharityExam";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@using TSMT.Models;

<h2 class="title_of_page">Add Charity Exam</h2>
    @using (Html.BeginForm("AddCharityExam", "Charity", FormMethod.Post))
    {
        <table>
            <tr>
                <td>Kỳ thi</td>
                <td>
                    <select name="ExamId">
                        @foreach (var item in ViewData["exams"] as IEnumerable<Examination>)
                        {
                            <option value="@item.ExaminationID">@item.Name</option>
                        }
                    </select></td>
            </tr>
            <tr>
                <td>Charity-Exam's Name</td>
                <td><input type="text" name="CharityExamName" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Tạo mới" class="btn btn-info" />
                    <input type="reset" value="Làm lại" class="btn btn-info" />
                    <button class="btn btn-info" onclick="window.history.back(-1);">Back</button>
                </td>
            </tr>
        </table>
    }
