@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "CHARITY";
}

<div class="service-one">
    <div class="service-one-inner">
        <div class="container">
            <!-- Header heading -->
            <h3 class="head"><i class="icon-gears lblue"></i>Control Panel</h3>
            <div class="row">
                <div class="col-md-4">
                    <!-- service item -->
                    <div class="s-one-item sitem-one">
                        <!-- Service icon -->
                        <i class="icon-gear"></i>
                        <!-- caption -->
                        <div class="s-one-caption">
                            <!-- Heading -->
                            <h4>@Html.ActionLink("Manage CE", "ManageCharityExam")</h4>
                            <!-- Paragraph -->
                            <p>Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
