@{
    ViewBag.Title = "Trang Đăng Ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- PAGE TITLE
================================================== -->
<section class="pageheader-default text-center">
    <div class="semitransparentbg">
        <h1 class="animated fadeInLeftBig notransition">Đăng Ký</h1>
        <p class="animated fadeInRightBig  notransition container page-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
</section>
<div class="wrapsemibox">
    <div class="semiboxshadow">
        <img src="/Content/img/shp.png" class="img-responsive" alt="">
    </div>

    <section class="container">
        <div id="content">
            <div class="boxportfolio1" style="text-align: center">
                <h1 class="smalltitle">
                    <span>Thông tin bắt buộc</span>
                </h1>

                <!-- Begin Form 1 -->
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputUserName" class="col-sm-2 control-label">Tên đăng nhập: </label>
                        <div class="col-sm-3" style="text-align: center">
                            <input type="text" class="form-control" id="inputUserName" placeholder="Hãy nhập Tên đăng nhập của bạn">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Mật khẩu: </label>
                        <div class="col-sm-3" style="text-align: center">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Hãy nhập Mật khẩu của bạn">
                        </div>
                        <label for="retypeInputPassword" class="col-sm-2 control-label">Xác thực mật khẩu: </label>
                        <div class="col-sm-3" style="text-align: center">
                            <input type="password" class="form-control" id="retypeInputPassword" placeholder="Hãy nhập lại Mật khẩu của bạn">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Địa chỉ Email: </label>
                        <div class="col-sm-3" style="text-align: center">
                            <input type="text" class="form-control" id="inputEmail" placeholder="Hãy nhập địa chỉ Thư điện tử của bạn">
                        </div>
                        <label for="inputEmail" class="col-sm-2 control-label">Xác thực địa chỉ Email: </label>
                        <div class="col-sm-3" style="text-align: center">
                            <input type="text" class="form-control" id="retypeInputEmail" placeholder="Hãy nhập lại địa chỉ Thư điện tử của bạn">
                        </div>
                    </div>


                    <h3 class="smalltitle">
                        <span>Thông tin cá nhân</span>
                    </h3>
                    <div class="form-group">
                        <label for="inputFullName" class="col-sm-2 control-label">Họ tên: </label>
                        <div class="col-sm-3" style="text-align: center">
                            <input type="text" class="form-control" id="inputFullName" placeholder="Hãy nhập Họ tên của bạn">
                        </div>
                        <label for="inputDateOfBirth" class="col-sm-2 control-label">Ngày tháng năm sinh: </label>
                        <div class="col-sm-3">
                            <select>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <select>
                                <option value="Tháng Một">Tháng Một</option>
                                <option value="Tháng Hai">Tháng Hai</option>
                                <option value="Tháng Ba">Tháng Ba</option>
                                <option value="Tháng Tư">Tháng Tư</option>
                            </select>
                            <select>
                                <option value="1992">1992</option>
                                <option value="1993">1993</option>
                                <option value="1994">1994</option>
                                <option value="1995">1995</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="inputGender" class="col-sm-2 control-label"> Giới tính: </label>
                        <div class="col-sm-2 control-label" style="text-align:left">                            
                            <input type="radio" name="sex" value="male" checked"> Nam <input type="radio" name="sex" value="female"> Nữ 
                        </div>                 
                    </div>




                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10" style="text-align: center">
                            <button type="submit" class="btn btn-default">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Form 1 -->
        </div>
    </section>
</div>
<!-- /.wrapsemibox end-->
