@{
    ViewBag.Title = "Đăng Nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- PAGE TITLE
================================================== -->
<section class="pageheader-default text-center">
    <div class="semitransparentbg">
        <h1 class="animated fadeInLeftBig notransition">Đăng Nhập</h1>
        <p class="animated fadeInRightBig  notransition container page-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </div>
</section>
<div class="wrapsemibox">
    <div class="semiboxshadow text-center">
        <img src="/Content/img/shp.png" class="img-responsive" alt="">
    </div>

   <section class="container">
       <div id="content">
           <div class="boxportfolio2">
				<h1 class="smalltitle">
				<span>Đăng nhập</span>
				</h1>

               </h1>
				<!-- Begin Form Sign In -->
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
						</div>
					</div>
					<div class="form-group">
						<label for="inputPassword3" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label>
								<input type="checkbox"> Remember me </label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">Sign in</button>
						</div>
					</div>
				</form>
				<!-- End Form 1 -->



			</div>
           <div class="boxportfolio2">
				<h1 class="smalltitle">
				<span>Đăng Ký</span>
				</h1>

				@*<!--Begin Accordion 2-->
				<div id="accordion">
					<div class="active">
						<h4>Easy to customize</h4>
						<p>
							 This template is built with twitter bootstrap and coming with awesome fixed navigation, css animations effects, and AJAX contact forms. The item documentation is extensive and the source code is properly commented and formatted, so you shouldn’t have any problem working with this item. If you need support, please send us an email via WowThemes.net.
						</p>
					</div>
					<div>
						<h4>Working Contact Forms</h4>
						<p>
							 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
						</p>
					</div>
					<div>
						<h4>CSS3 Animations</h4>
						<p>
							 An animation is an effect that lets an element gradually change from one style to another. You can change as many styles you want, as many times you want.
						</p>
					</div>
				</div>
				<!--End Accordion 2-->*@


			</div>

       </div>

   </section>

</div>
<!-- /.wrapsemibox end-->
