USE [TSMT]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[OwnerID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Examinations]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examinations](
	[ExaminationID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[BeginDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Examinations] PRIMARY KEY CLUSTERED 
(
	[ExaminationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Examinations] ON
INSERT [dbo].[Examinations] ([ExaminationID], [Name], [BeginDate], [EndDate]) VALUES (1, N'Đợt 1 (2014)', CAST(0x0000A35E00000000 AS DateTime), CAST(0x0000A36000000000 AS DateTime))
INSERT [dbo].[Examinations] ([ExaminationID], [Name], [BeginDate], [EndDate]) VALUES (2, N'Đợt 2 (2014)', CAST(0x0000A36500000000 AS DateTime), CAST(0x0000A36700000000 AS DateTime))
INSERT [dbo].[Examinations] ([ExaminationID], [Name], [BeginDate], [EndDate]) VALUES (4, N'Đợt 3 (2014)', CAST(0x0000A2E000000000 AS DateTime), CAST(0x0000A2E200000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Examinations] OFF
/****** Object:  Table [dbo].[Universities]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Universities](
	[UniversityID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UniversityCode] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](400) NULL,
	[Website] [nvarchar](50) NULL,
	[Phone] [varchar](13) NULL,
 CONSTRAINT [PK_University] PRIMARY KEY CLUSTERED 
(
	[UniversityID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Universities] ON
INSERT [dbo].[Universities] ([UniversityID], [Name], [UniversityCode], [Address], [Website], [Phone]) VALUES (1, N'Đại học Khoa học Xã hội và Nhân Văn - TpHCM', N'QSX', N'12 Đinh Tiên Hoàng, Q.1, TP. HCM', N' www.hcmussh.edu.vn', N'8.38425e+008')
INSERT [dbo].[Universities] ([UniversityID], [Name], [UniversityCode], [Address], [Website], [Phone]) VALUES (7, N'Đại học Khoa học Tự nhiên - TpHCM', N'QST', N'227 Nguyễn Văn Cừ', N'http://www.hcmus.edu.vn', N'8.38296e+008')
SET IDENTITY_INSERT [dbo].[Universities] OFF
/****** Object:  Table [dbo].[UniversitiesExaminations]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UniversitiesExaminations](
	[UniExamID] [int] IDENTITY(1,1) NOT NULL,
	[UniversityID] [int] NOT NULL,
	[ExaminationID] [int] NOT NULL,
 CONSTRAINT [PK_UniversityExamination] PRIMARY KEY CLUSTERED 
(
	[UniExamID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UniversitiesExaminations] ON
INSERT [dbo].[UniversitiesExaminations] ([UniExamID], [UniversityID], [ExaminationID]) VALUES (1, 1, 1)
INSERT [dbo].[UniversitiesExaminations] ([UniExamID], [UniversityID], [ExaminationID]) VALUES (2, 1, 2)
INSERT [dbo].[UniversitiesExaminations] ([UniExamID], [UniversityID], [ExaminationID]) VALUES (5, 7, 1)
SET IDENTITY_INSERT [dbo].[UniversitiesExaminations] OFF
/****** Object:  Table [dbo].[Venues]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venues](
	[VenueID] [int] IDENTITY(1,1) NOT NULL,
	[UniExamID] [int] NOT NULL,
	[Address] [nvarchar](400) NOT NULL,
	[Longitude] [nvarchar](20) NOT NULL,
	[Latitude] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Venues] PRIMARY KEY CLUSTERED 
(
	[VenueID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Venues] ON
INSERT [dbo].[Venues] ([VenueID], [UniExamID], [Address], [Longitude], [Latitude]) VALUES (5, 2, N'20 Nguyễn Trãi, Phường 3, Quận 5', N'106.68166629999996', N'10.7585322')
INSERT [dbo].[Venues] ([VenueID], [UniExamID], [Address], [Longitude], [Latitude]) VALUES (6, 2, N'100 Phó Đức Chính, Phường 1, Quận Binh Thanh', N'106.69704860000002', N'10.7989902')
INSERT [dbo].[Venues] ([VenueID], [UniExamID], [Address], [Longitude], [Latitude]) VALUES (9, 2, N'20 Lý Thường Kiệt, Phường 7, Quận 10', N'106.66152829999999', N'10.7585269')
SET IDENTITY_INSERT [dbo].[Venues] OFF
/****** Object:  Table [dbo].[Roles]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Roles] ON
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Thí sinh')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Hội từ thiện')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Nhà tài trợ')
SET IDENTITY_INSERT [dbo].[Roles] OFF
/****** Object:  Table [dbo].[Accounts]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(7,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[ProfileID] [int] NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON
INSERT [dbo].[Accounts] ([AccountID], [Email], [Password], [IsActive], [ProfileID], [RoleID]) VALUES (1, N'admin@gmail.com', N'123', 1, 1, 5)
INSERT [dbo].[Accounts] ([AccountID], [Email], [Password], [IsActive], [ProfileID], [RoleID]) VALUES (2, N'candidate01@gmail.com', N'123', 1, 2, 1)
INSERT [dbo].[Accounts] ([AccountID], [Email], [Password], [IsActive], [ProfileID], [RoleID]) VALUES (3, N'candidate02@gmail.com', N'123', 1, 3, 1)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
/****** Object:  Table [dbo].[Charities]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Charities](
	[CharityID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Charities] PRIMARY KEY CLUSTERED 
(
	[CharityID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Charities] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Charities] ON
INSERT [dbo].[Charities] ([CharityID], [AccountID], [Name], [Description]) VALUES (1, 7, N'Cafe TiNo', NULL)
INSERT [dbo].[Charities] ([CharityID], [AccountID], [Name], [Description]) VALUES (2, 8, N'ABC', NULL)
INSERT [dbo].[Charities] ([CharityID], [AccountID], [Name], [Description]) VALUES (3, 9, N'Pikachu', NULL)
SET IDENTITY_INSERT [dbo].[Charities] OFF
/****** Object:  Table [dbo].[ChairitiesExams]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChairitiesExams](
	[CharityExamID] [int] IDENTITY(1,1) NOT NULL,
	[ExamID] [int] NOT NULL,
	[CharityID] [int] NOT NULL,
	[TotalSlotsLodges] [int] NOT NULL,
	[AvailableSlotsLodges] [int] NOT NULL,
	[TotalSlotsVehicles] [int] NOT NULL,
	[AvailableSlotsVehicles] [int] NOT NULL,
 CONSTRAINT [PK_ChairitiesExams_1] PRIMARY KEY CLUSTERED 
(
	[CharityExamID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChairitiesExams] ON
INSERT [dbo].[ChairitiesExams] ([CharityExamID], [ExamID], [CharityID], [TotalSlotsLodges], [AvailableSlotsLodges], [TotalSlotsVehicles], [AvailableSlotsVehicles]) VALUES (1, 1, 1, 14, 14, 105, 105)
INSERT [dbo].[ChairitiesExams] ([CharityExamID], [ExamID], [CharityID], [TotalSlotsLodges], [AvailableSlotsLodges], [TotalSlotsVehicles], [AvailableSlotsVehicles]) VALUES (2, 2, 1, 10, 10, 8, 11)
INSERT [dbo].[ChairitiesExams] ([CharityExamID], [ExamID], [CharityID], [TotalSlotsLodges], [AvailableSlotsLodges], [TotalSlotsVehicles], [AvailableSlotsVehicles]) VALUES (4, 1, 2, 6, 6, 5, 5)
SET IDENTITY_INSERT [dbo].[ChairitiesExams] OFF
/****** Object:  Table [dbo].[Sponsors]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sponsors](
	[SponsorID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_Sponsores] PRIMARY KEY CLUSTERED 
(
	[SponsorID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Sponsors] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Sponsors] ON
INSERT [dbo].[Sponsors] ([SponsorID], [AccountID]) VALUES (1, 12)
INSERT [dbo].[Sponsors] ([SponsorID], [AccountID]) VALUES (2, 13)
INSERT [dbo].[Sponsors] ([SponsorID], [AccountID]) VALUES (3, 14)
SET IDENTITY_INSERT [dbo].[Sponsors] OFF
/****** Object:  Table [dbo].[Lodges]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lodges](
	[LodgeID] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](400) NOT NULL,
	[Longitude] [nvarchar](50) NOT NULL,
	[Latitude] [nvarchar](50) NOT NULL,
	[SponsorID] [int] NULL,
	[CharityExamID] [int] NULL,
	[TotalSlots] [int] NOT NULL,
	[TotalSlotsInUsed] [int] NOT NULL,
	[AvailableSlots] [int] NOT NULL,
	[CharityID] [int] NULL,
	[IsApproved] [bit] NOT NULL,
 CONSTRAINT [PK_Lodges] PRIMARY KEY CLUSTERED 
(
	[LodgeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Lodges] ON
INSERT [dbo].[Lodges] ([LodgeID], [Address], [Longitude], [Latitude], [SponsorID], [CharityExamID], [TotalSlots], [TotalSlotsInUsed], [AvailableSlots], [CharityID], [IsApproved]) VALUES (4, N'120 Nguyễn Hữu Cảnh, Phường 22, Quận Binh Thanh', N'106.71514279999997', N'10.7889227', NULL, 2, 3, 3, 3, 1, 1)
INSERT [dbo].[Lodges] ([LodgeID], [Address], [Longitude], [Latitude], [SponsorID], [CharityExamID], [TotalSlots], [TotalSlotsInUsed], [AvailableSlots], [CharityID], [IsApproved]) VALUES (5, N'149 Trần Não, Phường Bình An, Quận 2', N'106.73057369999992', N'10.7915214', NULL, 2, 1, 1, 1, 1, 1)
INSERT [dbo].[Lodges] ([LodgeID], [Address], [Longitude], [Latitude], [SponsorID], [CharityExamID], [TotalSlots], [TotalSlotsInUsed], [AvailableSlots], [CharityID], [IsApproved]) VALUES (6, N'10 Nguyễn Thị Minh Khai, Phường Đa Kao, Quận 1', N'106.70559960000003', N'10.7909638', NULL, 5, 1, 1, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[Lodges] OFF
/****** Object:  Table [dbo].[Rooms]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[LodgeID] [int] NOT NULL,
	[TotalSlots] [int] NOT NULL,
	[AvailableSlots] [int] NOT NULL,
	[RoomName] [nvarchar](10) NOT NULL,
	[Gender] [bit] NULL,
	[CharityExamID] [int] NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON
INSERT [dbo].[Rooms] ([RoomID], [LodgeID], [TotalSlots], [AvailableSlots], [RoomName], [Gender], [CharityExamID]) VALUES (2, 4, 1, 1, N'A101', NULL, 2)
INSERT [dbo].[Rooms] ([RoomID], [LodgeID], [TotalSlots], [AvailableSlots], [RoomName], [Gender], [CharityExamID]) VALUES (5, 5, 1, 1, N'C101', NULL, 2)
INSERT [dbo].[Rooms] ([RoomID], [LodgeID], [TotalSlots], [AvailableSlots], [RoomName], [Gender], [CharityExamID]) VALUES (10, 6, 1, 1, N'E101', NULL, 5)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
/****** Object:  Table [dbo].[Candidates]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidates](
	[CandidateID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_Candidates] PRIMARY KEY CLUSTERED 
(
	[CandidateID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Candidates] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Candidates] ON
INSERT [dbo].[Candidates] ([CandidateID], [AccountID]) VALUES (1, 2)
INSERT [dbo].[Candidates] ([CandidateID], [AccountID]) VALUES (2, 3)
INSERT [dbo].[Candidates] ([CandidateID], [AccountID]) VALUES (3, 4)
SET IDENTITY_INSERT [dbo].[Candidates] OFF
/****** Object:  Table [dbo].[Cars]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[CharityExamID] [int] NULL,
	[SponsorID] [int] NULL,
	[NumberPlate] [nvarchar](20) NULL,
	[TotalSlots] [int] NOT NULL,
	[AvailableSlots] [int] NOT NULL,
	[DriverName] [nvarchar](50) NULL,
	[DriverPhone] [nvarchar](50) NULL,
	[IsApproved] [bit] NOT NULL,
	[CharityID] [int] NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cars] ON
INSERT [dbo].[Cars] ([CarID], [CharityExamID], [SponsorID], [NumberPlate], [TotalSlots], [AvailableSlots], [DriverName], [DriverPhone], [IsApproved], [CharityID]) VALUES (1, 2, NULL, N'51S1-3939', 4, 0, N'Nguyễn Văn A', N'01684010301', 1, 1)
INSERT [dbo].[Cars] ([CarID], [CharityExamID], [SponsorID], [NumberPlate], [TotalSlots], [AvailableSlots], [DriverName], [DriverPhone], [IsApproved], [CharityID]) VALUES (3, 4, NULL, N'32S3-107.07', 2, 2, N'Nguyễn Văn A', N'0983241567', 1, 2)
INSERT [dbo].[Cars] ([CarID], [CharityExamID], [SponsorID], [NumberPlate], [TotalSlots], [AvailableSlots], [DriverName], [DriverPhone], [IsApproved], [CharityID]) VALUES (4, 4, NULL, N'21S3-108.08', 3, 0, N'Nguyễn Văn B', N'0983456789', 1, 2)
SET IDENTITY_INSERT [dbo].[Cars] OFF
/****** Object:  Table [dbo].[ExaminationsPapers]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExaminationsPapers](
	[ExamPaperID] [int] IDENTITY(1,1) NOT NULL,
	[CandidateID] [int] NOT NULL,
	[UniExamID] [int] NOT NULL,
	[VenueID] [int] NOT NULL,
	[CharityExamID] [int] NULL,
	[LodgeRegisteredID] [int] NULL,
	[GroupID] [int] NULL,
	[RoomID] [int] NULL,
	[CarID] [int] NULL,
	[ParticipantVolunteerID] [int] NULL,
 CONSTRAINT [PK_ExamsPaper] PRIMARY KEY CLUSTERED 
(
	[ExamPaperID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ExaminationsPapers] ON
INSERT [dbo].[ExaminationsPapers] ([ExamPaperID], [CandidateID], [UniExamID], [VenueID], [CharityExamID], [LodgeRegisteredID], [GroupID], [RoomID], [CarID], [ParticipantVolunteerID]) VALUES (11, 2, 2, 10, 2, 4, NULL, NULL, 1, NULL)
INSERT [dbo].[ExaminationsPapers] ([ExamPaperID], [CandidateID], [UniExamID], [VenueID], [CharityExamID], [LodgeRegisteredID], [GroupID], [RoomID], [CarID], [ParticipantVolunteerID]) VALUES (12, 3, 2, 5, 2, 4, NULL, NULL, 1, NULL)
INSERT [dbo].[ExaminationsPapers] ([ExamPaperID], [CandidateID], [UniExamID], [VenueID], [CharityExamID], [LodgeRegisteredID], [GroupID], [RoomID], [CarID], [ParticipantVolunteerID]) VALUES (15, 4, 2, 10, 2, 4, NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[ExaminationsPapers] OFF
/****** Object:  Table [dbo].[GroupRequest]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupRequest](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ActiveID] [int] NOT NULL,
	[ReceiveID] [int] NOT NULL,
	[GroupID] [int] NOT NULL,
 CONSTRAINT [PK_GroupRequest] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[LastModifiedOn] [datetime] NULL,
	[AvatarImage] [nvarchar](max) NULL,
	[IsAprroved] [bit] NOT NULL,
	[Summary] [nvarchar](max) NULL,
 CONSTRAINT [PK_Article] PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[ArticleID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ReplyFor] [int] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funds]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funds](
	[FundID] [int] IDENTITY(1,1) NOT NULL,
	[SponsorID] [int] NOT NULL,
	[CharityExamID] [int] NOT NULL,
	[FundSponsored] [float] NOT NULL,
	[IsApproved] [bit] NOT NULL,
 CONSTRAINT [PK_Funds] PRIMARY KEY CLUSTERED 
(
	[FundID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Volunteers]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Volunteers](
	[VolunteerID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
 CONSTRAINT [PK_Volunteers] PRIMARY KEY CLUSTERED 
(
	[VolunteerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [IX_Volunteers] UNIQUE NONCLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Volunteers] ON
INSERT [dbo].[Volunteers] ([VolunteerID], [AccountID]) VALUES (1, 17)
INSERT [dbo].[Volunteers] ([VolunteerID], [AccountID]) VALUES (2, 18)
INSERT [dbo].[Volunteers] ([VolunteerID], [AccountID]) VALUES (3, 19)
SET IDENTITY_INSERT [dbo].[Volunteers] OFF
/****** Object:  Table [dbo].[ParticipantVolunteer]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticipantVolunteer](
	[ParticipantVolunteerID] [int] IDENTITY(1,1) NOT NULL,
	[VolunteerID] [int] NOT NULL,
	[CharityExamID] [int] NOT NULL,
	[ExamPaperID] [int] NULL,
	[WayPoints] [nvarchar](max) NULL,
	[IsApproved] [bit] NOT NULL,
 CONSTRAINT [PK_ParticipantVolunteer] PRIMARY KEY CLUSTERED 
(
	[ParticipantVolunteerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ParticipantVolunteer] ON
INSERT [dbo].[ParticipantVolunteer] ([ParticipantVolunteerID], [VolunteerID], [CharityExamID], [ExamPaperID], [WayPoints], [IsApproved]) VALUES (3, 1, 2, 17, NULL, 1)
SET IDENTITY_INSERT [dbo].[ParticipantVolunteer] OFF
/****** Object:  Table [dbo].[Provinces]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[ProvinceID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Provinces] PRIMARY KEY CLUSTERED 
(
	[ProvinceID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Provinces] ([ProvinceID], [Name]) VALUES (2, N'Hà Nội')
INSERT [dbo].[Provinces] ([ProvinceID], [Name]) VALUES (3, N'TP.HCM')
INSERT [dbo].[Provinces] ([ProvinceID], [Name]) VALUES (10, N'Yên Bái')
/****** Object:  Table [dbo].[Districts]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictID] [int] NOT NULL,
	[ProvinceID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[DistrictID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Districts] ([DistrictID], [ProvinceID], [Name]) VALUES (113, 2, N'Từ Liêm')
INSERT [dbo].[Districts] ([DistrictID], [ProvinceID], [Name]) VALUES (114, 2, N'Thanh Trì')
INSERT [dbo].[Districts] ([DistrictID], [ProvinceID], [Name]) VALUES (115, 2, N'Sóc Sơn')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
/****** Object:  Table [dbo].[Profiles]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Profiles](
	[ProfileID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[Firstname] [nvarchar](20) NOT NULL,
	[Lastname] [nvarchar](20) NOT NULL,
	[Gender] [bit] NOT NULL,
	[DateOfBirth] [date] NULL,
	[PhoneNumber] [varchar](13) NULL,
	[Address] [nvarchar](400) NULL,
	[DistrictID] [int] NULL,
	[ImagePath] [nvarchar](200) NULL,
 CONSTRAINT [PK_Profiles] PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Profiles] ON
INSERT [dbo].[Profiles] ([ProfileID], [AccountID], [Firstname], [Lastname], [Gender], [DateOfBirth], [PhoneNumber], [Address], [DistrictID], [ImagePath]) VALUES (1, 1, N'Khoa', N'Nguyễn Duy', 1, CAST(0x94190B00 AS Date), N'984837123', N'10 Lạc Long Quân, phường 6', NULL, NULL)
INSERT [dbo].[Profiles] ([ProfileID], [AccountID], [Firstname], [Lastname], [Gender], [DateOfBirth], [PhoneNumber], [Address], [DistrictID], [ImagePath]) VALUES (2, 2, N'Huy', N'Nguyễn Minh', 1, CAST(0xAC1F0B00 AS Date), N'1668659342', N'2 Lê Lợi, phường 9', NULL, NULL)
INSERT [dbo].[Profiles] ([ProfileID], [AccountID], [Firstname], [Lastname], [Gender], [DateOfBirth], [PhoneNumber], [Address], [DistrictID], [ImagePath]) VALUES (3, 3, N'Minh', N'Phạm Huy', 1, CAST(0xAE1E0B00 AS Date), N'9102041996', N'34 Quang Trung, phường Tân Thới Hiệp', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Profiles] OFF
/****** Object:  Table [dbo].[ScheduleExams]    Script Date: 04/19/2014 02:26:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleExams](
	[ScheduleExamID] [int] IDENTITY(1,1) NOT NULL,
	[ExamID] [int] NOT NULL,
	[Day] [date] NOT NULL,
	[BeginTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
 CONSTRAINT [PK_DetailsScheduleExams] PRIMARY KEY CLUSTERED 
(
	[ScheduleExamID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ScheduleExams] ON
INSERT [dbo].[ScheduleExams] ([ScheduleExamID], [ExamID], [Day], [BeginTime], [EndTime]) VALUES (12, 1, CAST(0xB9380B00 AS Date), CAST(0x0000A35E00735B40 AS DateTime), CAST(0x0000A35E011826C0 AS DateTime))
INSERT [dbo].[ScheduleExams] ([ScheduleExamID], [ExamID], [Day], [BeginTime], [EndTime]) VALUES (13, 1, CAST(0xBA380B00 AS Date), CAST(0x0000A35F00735B40 AS DateTime), CAST(0x0000A35F011826C0 AS DateTime))
INSERT [dbo].[ScheduleExams] ([ScheduleExamID], [ExamID], [Day], [BeginTime], [EndTime]) VALUES (14, 1, CAST(0xBB380B00 AS Date), CAST(0x0000A36000735B40 AS DateTime), CAST(0x0000A360011826C0 AS DateTime))
SET IDENTITY_INSERT [dbo].[ScheduleExams] OFF
/****** Object:  ForeignKey [FK_Accounts_Profiles]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Accounts]  WITH NOCHECK ADD  CONSTRAINT [FK_Accounts_Profiles] FOREIGN KEY([ProfileID])
REFERENCES [dbo].[Profiles] ([ProfileID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Profiles]
GO
/****** Object:  ForeignKey [FK_Accounts_Roles]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Accounts]  WITH NOCHECK ADD  CONSTRAINT [FK_Accounts_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Roles]
GO
/****** Object:  ForeignKey [FK_Article_Category]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Articles]  WITH NOCHECK ADD  CONSTRAINT [FK_Article_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Article_Category]
GO
/****** Object:  ForeignKey [FK_Articles_Accounts]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Articles]  WITH NOCHECK ADD  CONSTRAINT [FK_Articles_Accounts] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Articles_Accounts]
GO
/****** Object:  ForeignKey [FK_Candidates_Accounts]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Candidates]  WITH NOCHECK ADD  CONSTRAINT [FK_Candidates_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Candidates] CHECK CONSTRAINT [FK_Candidates_Accounts]
GO
/****** Object:  ForeignKey [FK_Cars_ChairitiesExams]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Cars]  WITH NOCHECK ADD  CONSTRAINT [FK_Cars_ChairitiesExams] FOREIGN KEY([CharityExamID])
REFERENCES [dbo].[ChairitiesExams] ([CharityExamID])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_ChairitiesExams]
GO
/****** Object:  ForeignKey [FK_Cars_Sponsors]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Cars]  WITH NOCHECK ADD  CONSTRAINT [FK_Cars_Sponsors] FOREIGN KEY([SponsorID])
REFERENCES [dbo].[Sponsors] ([SponsorID])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Sponsors]
GO
/****** Object:  ForeignKey [FK_ChairitiesExams_Charities]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[ChairitiesExams]  WITH NOCHECK ADD  CONSTRAINT [FK_ChairitiesExams_Charities] FOREIGN KEY([CharityID])
REFERENCES [dbo].[Charities] ([CharityID])
GO
ALTER TABLE [dbo].[ChairitiesExams] CHECK CONSTRAINT [FK_ChairitiesExams_Charities]
GO
/****** Object:  ForeignKey [FK_ChairitiesExams_Examinations]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[ChairitiesExams]  WITH NOCHECK ADD  CONSTRAINT [FK_ChairitiesExams_Examinations] FOREIGN KEY([ExamID])
REFERENCES [dbo].[Examinations] ([ExaminationID])
GO
ALTER TABLE [dbo].[ChairitiesExams] CHECK CONSTRAINT [FK_ChairitiesExams_Examinations]
GO
/****** Object:  ForeignKey [FK_Charities_Accounts]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Charities]  WITH CHECK ADD  CONSTRAINT [FK_Charities_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Charities] CHECK CONSTRAINT [FK_Charities_Accounts]
GO
/****** Object:  ForeignKey [FK_Comments_Articles]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Comments]  WITH NOCHECK ADD  CONSTRAINT [FK_Comments_Articles] FOREIGN KEY([ArticleID])
REFERENCES [dbo].[Articles] ([ArticleID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Articles]
GO
/****** Object:  ForeignKey [FK_Comments_Comments]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Comments]  WITH NOCHECK ADD  CONSTRAINT [FK_Comments_Comments] FOREIGN KEY([ReplyFor])
REFERENCES [dbo].[Comments] ([CommentID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Comments]
GO
/****** Object:  ForeignKey [FK_Districts_Provinces]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Districts]  WITH NOCHECK ADD  CONSTRAINT [FK_Districts_Provinces] FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Provinces] ([ProvinceID])
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_Districts_Provinces]
GO
/****** Object:  ForeignKey [FK_ExaminationsPapers_Cars]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[ExaminationsPapers]  WITH NOCHECK ADD  CONSTRAINT [FK_ExaminationsPapers_Cars] FOREIGN KEY([CarID])
REFERENCES [dbo].[Cars] ([CarID])
GO
ALTER TABLE [dbo].[ExaminationsPapers] CHECK CONSTRAINT [FK_ExaminationsPapers_Cars]
GO
/****** Object:  ForeignKey [FK_ExaminationsPapers_ChairitiesExams]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[ExaminationsPapers]  WITH NOCHECK ADD  CONSTRAINT [FK_ExaminationsPapers_ChairitiesExams] FOREIGN KEY([CharityExamID])
REFERENCES [dbo].[ChairitiesExams] ([CharityExamID])
GO
ALTER TABLE [dbo].[ExaminationsPapers] CHECK CONSTRAINT [FK_ExaminationsPapers_ChairitiesExams]
GO
/****** Object:  ForeignKey [FK_ExaminationsPapers_Groups]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[ExaminationsPapers]  WITH NOCHECK ADD  CONSTRAINT [FK_ExaminationsPapers_Groups] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
GO
ALTER TABLE [dbo].[ExaminationsPapers] CHECK CONSTRAINT [FK_ExaminationsPapers_Groups]
GO
/****** Object:  ForeignKey [FK_ExaminationsPapers_Lodges]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[ExaminationsPapers]  WITH NOCHECK ADD  CONSTRAINT [FK_ExaminationsPapers_Lodges] FOREIGN KEY([LodgeRegisteredID])
REFERENCES [dbo].[Lodges] ([LodgeID])
GO
ALTER TABLE [dbo].[ExaminationsPapers] CHECK CONSTRAINT [FK_ExaminationsPapers_Lodges]
GO
/****** Object:  ForeignKey [FK_ExaminationsPapers_ParticipantVolunteer]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[ExaminationsPapers]  WITH NOCHECK ADD  CONSTRAINT [FK_ExaminationsPapers_ParticipantVolunteer] FOREIGN KEY([ParticipantVolunteerID])
REFERENCES [dbo].[ParticipantVolunteer] ([ParticipantVolunteerID])
GO
ALTER TABLE [dbo].[ExaminationsPapers] CHECK CONSTRAINT [FK_ExaminationsPapers_ParticipantVolunteer]
GO
/****** Object:  ForeignKey [FK_ExaminationsPapers_Rooms]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[ExaminationsPapers]  WITH NOCHECK ADD  CONSTRAINT [FK_ExaminationsPapers_Rooms] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[ExaminationsPapers] CHECK CONSTRAINT [FK_ExaminationsPapers_Rooms]
GO
/****** Object:  ForeignKey [FK_ExaminationsPapers_Venues]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[ExaminationsPapers]  WITH NOCHECK ADD  CONSTRAINT [FK_ExaminationsPapers_Venues] FOREIGN KEY([VenueID])
REFERENCES [dbo].[Venues] ([VenueID])
GO
ALTER TABLE [dbo].[ExaminationsPapers] CHECK CONSTRAINT [FK_ExaminationsPapers_Venues]
GO
/****** Object:  ForeignKey [FK_ExamsPaper_Candidates]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[ExaminationsPapers]  WITH NOCHECK ADD  CONSTRAINT [FK_ExamsPaper_Candidates] FOREIGN KEY([CandidateID])
REFERENCES [dbo].[Candidates] ([CandidateID])
GO
ALTER TABLE [dbo].[ExaminationsPapers] CHECK CONSTRAINT [FK_ExamsPaper_Candidates]
GO
/****** Object:  ForeignKey [FK_ExamsPaper_UniversityExamination]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[ExaminationsPapers]  WITH NOCHECK ADD  CONSTRAINT [FK_ExamsPaper_UniversityExamination] FOREIGN KEY([UniExamID])
REFERENCES [dbo].[UniversitiesExaminations] ([UniExamID])
GO
ALTER TABLE [dbo].[ExaminationsPapers] CHECK CONSTRAINT [FK_ExamsPaper_UniversityExamination]
GO
/****** Object:  ForeignKey [FK_Funds_ChairitiesExams]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Funds]  WITH NOCHECK ADD  CONSTRAINT [FK_Funds_ChairitiesExams] FOREIGN KEY([CharityExamID])
REFERENCES [dbo].[ChairitiesExams] ([CharityExamID])
GO
ALTER TABLE [dbo].[Funds] CHECK CONSTRAINT [FK_Funds_ChairitiesExams]
GO
/****** Object:  ForeignKey [FK_Funds_Sponsores]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Funds]  WITH NOCHECK ADD  CONSTRAINT [FK_Funds_Sponsores] FOREIGN KEY([SponsorID])
REFERENCES [dbo].[Sponsors] ([SponsorID])
GO
ALTER TABLE [dbo].[Funds] CHECK CONSTRAINT [FK_Funds_Sponsores]
GO
/****** Object:  ForeignKey [FK_GroupRequest_ExaminationsPapers]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[GroupRequest]  WITH NOCHECK ADD  CONSTRAINT [FK_GroupRequest_ExaminationsPapers] FOREIGN KEY([ActiveID])
REFERENCES [dbo].[ExaminationsPapers] ([ExamPaperID])
GO
ALTER TABLE [dbo].[GroupRequest] CHECK CONSTRAINT [FK_GroupRequest_ExaminationsPapers]
GO
/****** Object:  ForeignKey [FK_GroupRequest_ExaminationsPapers1]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[GroupRequest]  WITH NOCHECK ADD  CONSTRAINT [FK_GroupRequest_ExaminationsPapers1] FOREIGN KEY([ReceiveID])
REFERENCES [dbo].[ExaminationsPapers] ([ExamPaperID])
GO
ALTER TABLE [dbo].[GroupRequest] CHECK CONSTRAINT [FK_GroupRequest_ExaminationsPapers1]
GO
/****** Object:  ForeignKey [FK_GroupRequest_Groups]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[GroupRequest]  WITH NOCHECK ADD  CONSTRAINT [FK_GroupRequest_Groups] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
GO
ALTER TABLE [dbo].[GroupRequest] CHECK CONSTRAINT [FK_GroupRequest_Groups]
GO
/****** Object:  ForeignKey [FK_Groups_ExaminationsPapers]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Groups]  WITH NOCHECK ADD  CONSTRAINT [FK_Groups_ExaminationsPapers] FOREIGN KEY([OwnerID])
REFERENCES [dbo].[ExaminationsPapers] ([ExamPaperID])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_ExaminationsPapers]
GO
/****** Object:  ForeignKey [FK_Lodges_ChairitiesExams1]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Lodges]  WITH NOCHECK ADD  CONSTRAINT [FK_Lodges_ChairitiesExams1] FOREIGN KEY([CharityExamID])
REFERENCES [dbo].[ChairitiesExams] ([CharityExamID])
GO
ALTER TABLE [dbo].[Lodges] CHECK CONSTRAINT [FK_Lodges_ChairitiesExams1]
GO
/****** Object:  ForeignKey [FK_Lodges_Sponsors]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Lodges]  WITH NOCHECK ADD  CONSTRAINT [FK_Lodges_Sponsors] FOREIGN KEY([SponsorID])
REFERENCES [dbo].[Sponsors] ([SponsorID])
GO
ALTER TABLE [dbo].[Lodges] CHECK CONSTRAINT [FK_Lodges_Sponsors]
GO
/****** Object:  ForeignKey [FK_ParticipantVolunteer_ChairitiesExams]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[ParticipantVolunteer]  WITH NOCHECK ADD  CONSTRAINT [FK_ParticipantVolunteer_ChairitiesExams] FOREIGN KEY([CharityExamID])
REFERENCES [dbo].[ChairitiesExams] ([CharityExamID])
GO
ALTER TABLE [dbo].[ParticipantVolunteer] CHECK CONSTRAINT [FK_ParticipantVolunteer_ChairitiesExams]
GO
/****** Object:  ForeignKey [FK_ParticipantVolunteer_ExaminationsPapers]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[ParticipantVolunteer]  WITH NOCHECK ADD  CONSTRAINT [FK_ParticipantVolunteer_ExaminationsPapers] FOREIGN KEY([ExamPaperID])
REFERENCES [dbo].[ExaminationsPapers] ([ExamPaperID])
GO
ALTER TABLE [dbo].[ParticipantVolunteer] CHECK CONSTRAINT [FK_ParticipantVolunteer_ExaminationsPapers]
GO
/****** Object:  ForeignKey [FK_ParticipantVolunteer_Volunteers]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[ParticipantVolunteer]  WITH NOCHECK ADD  CONSTRAINT [FK_ParticipantVolunteer_Volunteers] FOREIGN KEY([VolunteerID])
REFERENCES [dbo].[Volunteers] ([VolunteerID])
GO
ALTER TABLE [dbo].[ParticipantVolunteer] CHECK CONSTRAINT [FK_ParticipantVolunteer_Volunteers]
GO
/****** Object:  ForeignKey [FK_Profiles_Accounts]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_Profiles_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Profiles] CHECK CONSTRAINT [FK_Profiles_Accounts]
GO
/****** Object:  ForeignKey [FK_Profiles_Districts]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Profiles]  WITH NOCHECK ADD  CONSTRAINT [FK_Profiles_Districts] FOREIGN KEY([DistrictID])
REFERENCES [dbo].[Districts] ([DistrictID])
GO
ALTER TABLE [dbo].[Profiles] CHECK CONSTRAINT [FK_Profiles_Districts]
GO
/****** Object:  ForeignKey [FK_Rooms_ChairitiesExams]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_ChairitiesExams] FOREIGN KEY([CharityExamID])
REFERENCES [dbo].[ChairitiesExams] ([CharityExamID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_ChairitiesExams]
GO
/****** Object:  ForeignKey [FK_Rooms_Lodges]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Rooms]  WITH NOCHECK ADD  CONSTRAINT [FK_Rooms_Lodges] FOREIGN KEY([LodgeID])
REFERENCES [dbo].[Lodges] ([LodgeID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_Lodges]
GO
/****** Object:  ForeignKey [FK_ScheduleExams_Examinations]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[ScheduleExams]  WITH NOCHECK ADD  CONSTRAINT [FK_ScheduleExams_Examinations] FOREIGN KEY([ExamID])
REFERENCES [dbo].[Examinations] ([ExaminationID])
GO
ALTER TABLE [dbo].[ScheduleExams] CHECK CONSTRAINT [FK_ScheduleExams_Examinations]
GO
/****** Object:  ForeignKey [FK_Sponsors_Accounts]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Sponsors]  WITH NOCHECK ADD  CONSTRAINT [FK_Sponsors_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Sponsors] CHECK CONSTRAINT [FK_Sponsors_Accounts]
GO
/****** Object:  ForeignKey [FK_UniversityExamination_Examinations]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[UniversitiesExaminations]  WITH NOCHECK ADD  CONSTRAINT [FK_UniversityExamination_Examinations] FOREIGN KEY([ExaminationID])
REFERENCES [dbo].[Examinations] ([ExaminationID])
GO
ALTER TABLE [dbo].[UniversitiesExaminations] CHECK CONSTRAINT [FK_UniversityExamination_Examinations]
GO
/****** Object:  ForeignKey [FK_UniversityExamination_University]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[UniversitiesExaminations]  WITH NOCHECK ADD  CONSTRAINT [FK_UniversityExamination_University] FOREIGN KEY([UniversityID])
REFERENCES [dbo].[Universities] ([UniversityID])
GO
ALTER TABLE [dbo].[UniversitiesExaminations] CHECK CONSTRAINT [FK_UniversityExamination_University]
GO
/****** Object:  ForeignKey [FK_Venues_UniversitiesExaminations]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Venues]  WITH NOCHECK ADD  CONSTRAINT [FK_Venues_UniversitiesExaminations] FOREIGN KEY([UniExamID])
REFERENCES [dbo].[UniversitiesExaminations] ([UniExamID])
GO
ALTER TABLE [dbo].[Venues] CHECK CONSTRAINT [FK_Venues_UniversitiesExaminations]
GO
/****** Object:  ForeignKey [FK_Volunteers_Accounts]    Script Date: 04/19/2014 02:26:12 ******/
ALTER TABLE [dbo].[Volunteers]  WITH NOCHECK ADD  CONSTRAINT [FK_Volunteers_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Volunteers] CHECK CONSTRAINT [FK_Volunteers_Accounts]
GO
