@model TSMT.Models.Fund
@{
    ViewBag.Title = "DetailsFund";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title_of_page">Details Fund</h2>

<table>
    <tr>
        <td>Số Tiền</td>
        <td>@Model.FundSponsored</td>
    </tr>
    
</table>



