@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "SPONSOR";
}

<h2>ControlPanelPage</h2>

<div class="service-one">
    <div class="service-one-inner">
        <div class="container">
            <!-- Header heading -->
            <h3 class="head"><i class="icon-gears lblue"></i>Service #1</h3>
            <div class="row">
                <div class="col-md-4">
                    <!-- service item -->
                    <div class="s-one-item sitem-one">
                        <!-- Service icon -->
                        <i class="icon-gear"></i>
                        <!-- caption -->
                        <div class="s-one-caption">
                            <!-- Heading -->
                            <h4>@Html.ActionLink("Manage Car", "ManagerCar")</h4>
                            <!-- Paragraph -->
                            <p>Description</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">

                    <div class="s-one-item sitem-two">
                        <!-- Service icon -->
                        <i class="icon-gear"></i>
                        <!-- caption -->
                        <div class="s-one-caption">
                            <!-- Heading -->
                            <h4>@Html.ActionLink("Manage Fund", "ManagerFund")</h4>
                            <!-- Paragraph -->
                            <p>Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
