@{
    Layout = null;
}

<table id="tbl">
    <th>Name</th>
    <th>Slots</th>
    <th>AvaiSlots</th>
</table>

<button id="btnCreate" onclick="">Create new Room</button>
<button onclick="myClose()">Finish!</button>