@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align: center">
    <h2>Lịch Đưa Đón</h2>
</div>

<!-- Black block starts -->
<div class="blue-block">
    <div class="page-title">
        <h3 class="pull-left"><i class="icon-calendar"></i>Calendar <span>Hello how are you</span></h3>
        <div class="breads pull-right">
            <a href="#">Home </a>/ <a href="#">Pages </a>/ Title
					
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Black block ends -->



<!-- Content starts -->

<div class="container">
    <div class="page-content page-calendar">
        <!-- Below line produces calendar. I am using FullCalendar plugin. -->
        <div id="calendar"></div>
    </div>
</div>

<!-- Content ends -->


<!-- Mainbar ends -->

<div class="clearfix"></div>

<!-- Sliding boxses starts -->


<!-- Status slide box starts -->
<div class="status-slide hidden-xs">
    <!-- Slide button -->
    <div class="status-button">
        <!-- Button text with icon -->
        <span class="status-button-arrow"><i class="icon-chevron-left"></i></span>
        <!-- Blue circle -->
        <span class="status-circle"><span class="status-circle-blue">58 <i class="icon-double-angle-up"></i></span></span>
    </div>
    <div class="clearfix"></div>
    <!-- Content -->
    <div class="status-content">
        <!-- Status head section with graph -->
        <div class="status-head">
            <div class="status-head-top">
                Total Income for last 2 days <span class="label label-info pull-right">$500</span>
            </div>
            <div class="status-head-content">
                <!-- Graph -->
                <div class="status-head-left">
                    <div id="status-chart"></div>
                </div>
                <div class="status-head-right">
                    <table class="table">
                        <tr>
                            <td>Server Load</td>
                            <td>1.22 GHz</td>
                        </tr>
                        <tr>
                            <td>Database</td>
                            <td>4/10</td>
                        </tr>
                        <tr>
                            <td>Domains</td>
                            <td>5/2/3</td>
                        </tr>
                        <tr>
                            <td>Bandwidth</td>
                            <td>5000 GB</td>
                        </tr>
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Status body -->
        <div class="status-body text-center">
            <!-- Three columns -->
            <div class="status-body-left">
                <!-- Label -->
                <div class="label label-success"><i class="icon-double-angle-up"></i>50%</div>
                <br />
                <!-- Name -->
                Income    
                    
            </div>
            <div class="status-body-center">
                <div class="label label-danger"><i class="icon-double-angle-up"></i>30%</div>
                <br />
                Stocks    
                    
            </div>
            <div class="status-body-right">
                <div class="label label-warning"><i class="icon-double-angle-down"></i>25%</div>
                <br />
                Project
                    
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
<!-- Status slide box ends -->

<!-- Notification slide box starts -->
<div class="noty-slide hidden-xs">
    <!-- Slide button -->
    <div class="noty-button">
        <!-- Button text with icon -->
        <span>
            <!-- Icon -->
            <i class="icon-envelope"></i>
            <!-- Notification details -->
            <a href="#" class="btn btn-info btn-xs">2</a>
        </span>
        <span>
            <i class="icon-comments"></i>
            <a href="#" class="btn btn-success btn-xs">5</a>
        </span>
        <span>
            <i class="icon-user"></i>
            <a href="#" class="btn btn-warning btn-xs">6</a>
        </span>
    </div>
    <div class="clearfix"></div>
    <!-- Content -->
    <div class="noty-content">

        <!-- Bootstrap collapse starts -->

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">

                <!-- Heading -->
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <!-- Icon, Title and Label -->
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <i class="icon-envelope"></i>Messages <span class="label label-info pull-right">25</span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">

                    <!-- Body content -->
                    <!-- Message section -->
                    <div class="panel-body noty-message">
                        <ul>
                            <li>
                                <!-- List item -->
                                <a href="#">Hi, How do you do? :)</a> <span class="label label-danger pull-right">10:42</span>
                                <div class="clearfix"></div>
                                <p>Quisque eu constur erat eget semper...</p>
                            </li>
                            <li>
                                <a href="#">Darling. I love you?</a> <span class="label label-info pull-right">20:42</span>
                                <div class="clearfix"></div>
                                <p>Quisque eu constur erat eget semper...</p>
                            </li>
                            <li>
                                <a href="#">Tomorrow, Football?</a> <span class="label label-success pull-right">14:42</span>
                                <div class="clearfix"></div>
                                <p>Quisque eu contur erat eget semper...</p>
                            </li>
                        </ul>
                    </div>

                    <!-- Footer -->
                    <div class="panel-footer">
                        <a href="#" class="btn btn-info btn-xs">View All</a>
                        <a href="#" class="btn btn-default btn-xs pull-right">Reset</a>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <i class="icon-comments"></i>Chats <span class="label label-success pull-right">15</span>
                        </a>
                    </h4>
                </div>

                <div id="collapseTwo" class="panel-collapse collapse">

                    <!-- Notification chats -->
                    <div class="panel-body noty-chats">

                        <ul>
                            <li>
                                <!-- List item -->
                                <a href="#">Hi, How do you do? :)</a> <span class="label label-danger pull-right">10:42</span>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <a href="#">Darling. I love you?</a> <span class="label label-info pull-right">20:42</span>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <a href="#">What are you doing?</a> <span class="label label-warning pull-right">14:42</span>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <a href="#">Tomorrow, Football?</a> <span class="label label-success pull-right">14:42</span>
                                <div class="clearfix"></div>
                            </li>
                        </ul>

                    </div>

                    <!-- Footer -->
                    <div class="panel-footer">
                        <a href="#" class="btn btn-info btn-xs">View All</a>
                        <a href="#" class="btn btn-default btn-xs pull-right">Reset</a>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            <i class="icon-user"></i>Users <span class="label label-warning pull-right">35</span>
                        </a>
                    </h4>
                </div>

                <!-- Notification users -->
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body noty-users">
                        <ul>
                            <li>
                                <a href="#">Ravi Kumar <b>24, CEO, Asho</b> </a><span class="label label-warning pull-right">Free</span>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <a href="#">Balaji <b>32, CTO, Goog</b> </a><span class="label label-danger pull-right">Premium</span>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <a href="#">Kumarasamy <b>15, CMO, Ravi</b> </a><span class="label label-success pull-right">VIP</span>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <a href="#">Ashok <b>24, CFO, Yaho</b> </a><span class="label label-info pull-right">Moderator</span>
                                <div class="clearfix"></div>
                            </li>
                            <li>
                                <a href="#">Ragavan <b>64, EOO, Tpnu</b> </a><span class="label label-warning pull-right">Free</span>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>

                    <!-- Footer -->
                    <div class="panel-footer">
                        <a href="#" class="btn btn-info btn-xs">View All</a>
                        <a href="#" class="btn btn-default btn-xs pull-right">Reset</a>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Bootstrap collapse ends -->

    </div>
</div>
<!-- Notification slide box ends -->

<!-- ////////////////////////////////// -->

<!-- Sliding boxes ends -->

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>

<!-- Bootstrap JS -->


