@using TSMT.Models
@model TSMT.Models.Room
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title_of_page">Edit Room</h2>
@using (Html.BeginForm("EditRoom", "Charity", FormMethod.Post))
{
    <input type="hidden" name="roomId" value="@Model.RoomID"/>
    <table>
        <tr>
            <td>Tổng số chỗ</td>
            <td>
                <input type="text" name="TotalSlots" value="@Model.TotalSlots"/></td>
        </tr>
        
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit" class="btn btn-info" />
                <input type="reset" value="Reset" class="btn btn-info" />
            </td>
        </tr>
    </table>
}