@font-face {
	font-family: 'linecons';
	src:url('../fonts/linecons/linecons.eot');
	src:url('../fonts/linecons/linecons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/linecons/linecons.woff') format('woff'),
		url('../fonts/linecons/linecons.ttf') format('truetype'),
		url('../fonts/linecons/linecons.svg#linecons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon:before {
	font-family: 'linecons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	display: inline-block;
	margin-right: 0.6em;
	-webkit-font-smoothing: antialiased;
}
.fa fa-female:before {
	content: "\f182";
}
.fa fa-male:before {
	content: "\f183";
}
.fa fa-arrow-left:before {
	content: "\e032";
}
.fa fa-arrow-left-2:before {
	content: "\e034";
}
.fa fa-arrow-left-3:before {
	content: "\e036";
}
.fa fa-arrow-left-4:before {
	content: "\e038";
}
.fa fa-arrow-right:before {
	content: "\e035";
}
.fa fa-arrow-right-2:before {
	content: "\e037";
}
.fa fa-arrow-right-3:before {
	content: "\e039";
}
.fa fa-arrow-right-4:before {
	content: "\e033";
}

.fa fa-phone:before {
	content: "\e000";
}
.fa fa-news:before {
	content: "\e001";
}
.fa fa-photo:before {
	content: "\e002";
}
.fa fa-shop:before {
	content: "\e003";
}
.fa fa-wallet:before {
	content: "\e004";
}
.fa fa-t-shirt:before {
	content: "\e005";
}
.fa fa-heart:before {
	content: "\e006";
}
.fa fa-cloud:before {
	content: "\e007";
}
.fa fa-display:before {
	content: "\e008";
}
.fa fa-diamond:before {
	content: "\e009";
}
.fa fa-banknote:before {
	content: "\e00a";
}
.fa fa-data:before {
	content: "\e00b";
}
.fa fa-music:before {
	content: "\e00c";
}
.fa fa-location:before {
	content: "\e00d";
}
.fa fa-star:before {
	content: "\e00e";
}
.fa fa-tv:before {
	content: "\e00f";
}
.fa fa-eye:before {
	content: "\e010";
}
.fa fa-megaphone:before {
	content: "\e011";
}
.fa fa-study:before {
	content: "\e012";
}
.fa fa-bubble:before {
	content: "\e013";
}
.fa fa-sound:before {
	content: "\e014";
}
.fa fa-video:before {
	content: "\e015";
}
.fa fa-stack:before {
	content: "\e016";
}
.fa fa-lab:before {
	content: "\e017";
}
.fa fa-food:before {
	content: "\e018";
}
.fa fa-cup:before {
	content: "\e019";
}
.fa fa-trash:before {
	content: "\e01a";
}
.fa fa-user:before {
	content: "\e01b";
}
.fa fa-car:before {
	content: "\e01c";
}
.fa fa-fire:before {
	content: "\e01d";
}
.fa fa-clip:before {
	content: "\e01e";
}
.fa fa-mail:before {
	content: "\e01f";
}
.fa fa-search:before {
	content: "\e020";
}
.fa fa-settings:before {
	content: "\e021";
}
.fa fa-like:before {
	content: "\e022";
}
.fa fa-calendar:before {
	content: "\e023";
}
.fa fa-camera:before {
	content: "\e024";
}
.fa fa-tag:before {
	content: "\e025";
}
.fa fa-note:before {
	content: "\e026";
}
.fa fa-clock:before {
	content: "\e027";
}
.fa fa-lock:before {
	content: "\e028";
}
.fa fa-vynil:before {
	content: "\e029";
}
.fa fa-truck:before {
	content: "\e02a";
}
.fa fa-paperplane:before {
	content: "\e02b";
}
.fa fa-bulb:before {
	content: "\e02c";
}
.fa fa-pen:before {
	content: "\e02d";
}
.fa fa-params:before {
	content: "\e02e";
}
.fa fa-world:before {
	content: "\e02f";
}
