@{
    ViewBag.Title = "Index";
}

<div class="clearfix"></div>
<!-- Hero status ends -->

<!-- Black block starts -->
<div class="blue-block">
    <div class="page-title">
        <h3 class="pull-left"><i class="icon-desktop"></i>Volunteer <span>Hello how are you?</span></h3>
        <div class="breads pull-right">
            <a href="#">Home </a>/ <a href="#">Volunteer </a>/ Title					
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Black block ends -->


<!-- Service-one start -->

<div class="service-one">
    <div class="service-one-inner">
        <div class="container">
            <!-- Header heading -->
            <h3 class="head"><i class="icon-gears lblue"></i>Functions</h3>
            <div class="row">
                <div class="col-md-4">
                    <!-- service item -->
                    <div class="s-one-item sitem-one">
                        <!-- Service icon -->
                        <i class="icon-gear"></i>
                        <!-- caption -->
                        <div class="s-one-caption">
                            <!-- Heading -->
                            <h4><a href="#">Thông tin hoạt động</a></h4>
                            <!-- Paragraph -->
                            <p>abc</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
            
                    <div class="s-one-item sitem-two">
               
                        <i class="icon-briefcase"></i>
                        <div class="s-one-caption">
                            <h4><a href="@Html.ActionLink("Manage Join", "JoinCE")">Hội từ thiện</a></h4>
                            <p>abc</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="s-one-item sitem-three">
                        <i class="icon-bug"></i>
                        <div class="s-one-caption">
                            <h4><a href="#">Blogs</a></h4>
                            <!-- Paragraph -->
                            <p>abc</p>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-4">
                    <!-- service item -->
                    <div class="s-one-item sitem-one">
                        <!-- Service icon -->
                        <i class="icon-gear"></i>
                        <!-- caption -->
                        <div class="s-one-caption">
                            <!-- Heading -->
                            <h4><a href="#">Manage Volunteering</a></h4>
                            <!-- Paragraph -->
                            <p>abc</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- service item -->
                    <div class="s-one-item sitem-two">
                        <!-- Service icon -->
                        <i class="icon-briefcase"></i>
                        <!-- caption -->
                        <div class="s-one-caption">
                            <!-- Heading -->
                            <h4><a href="#">Hội từ thiện</a></h4>
                            <!-- Paragraph -->
                            <p>abc</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- service item -->
                    <div class="s-one-item sitem-three">
                        <!-- Service icon -->
                        <i class="icon-bug"></i>
                        <!-- caption -->
                        <div class="s-one-caption">
                            <!-- Heading -->
                            <h4><a href="#">Blogs</a></h4>
                            <!-- Paragraph -->
                            <p>abc</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service-one end -->

