@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DemoAjax</title>
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <script type="text/javascript">
        function callAjax(id) {
            $.ajax({
                url: 'ResultAjax/' + id,
                type: 'GET',
                success: function (results) {
                    $("#asd").html("");
                    for (i in results) {
                        var r = results[i];
                        $("#asd").append("<option value=\"" + r["value"] + "\">" + r["name"] + "</option>");
                    }
                }
            });
        }
    </script>
</head>
<body>
    <select id="qwe" onchange="callAjax(this.value)">
        <option value="9">abc</option>
        <option value="10">123</option>
    </select>
    <select id="asd"></select>
</body>
</html>
