@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Revolution Slider Start -->
<!-- slider container -->
<div class="banner-container">
    <!-- slider -->
    <div class="banner">
        <!-- slider content -->
        <ul>
            <!-- slider first frame -->
            <!-- SLIDE ONE -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="500">
                <!-- MAIN IMAGE -->
                <img src="Content/img/slider/1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <!-- Inside LAYERS // heading -->
                <div class="tp-caption very_large_text sft heading"
                    data-x="center"
                    data-y="top"
                    data-voffset="60"
                    data-speed="700"
                    data-start="1200"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    Welcome To Tiếp Sức Mùa Thi
							
                </div>
                <!-- Inside LAYERS // center image -->
                <div class="tp-caption lft"
                    data-x="center"
                    data-y="center"
                    data-voffset="20"
                    data-speed="500"
                    data-start="2000"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <img src="~/Content/img/slider/s1.png" class="img-responsive" alt="" />
                </div>
                <!-- Inside LAYERS // top-left-circle -->
                <div class="tp-caption sfl circle-left"
                    data-x="center"
                    data-hoffset="-350"
                    data-y="center"
                    data-voffset="-70"
                    data-speed="1000"
                    data-start="2500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <div class="caption-item"><i class="icon-globe"></i></div>
                </div>
                <!-- Inside LAYERS // top-left-arrow -->
                <div class="tp-caption sfl"
                    data-x="center"
                    data-hoffset="-250"
                    data-y="center"
                    data-voffset="-120"
                    data-speed="500"
                    data-start="2800"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <img src="~/Content/img/slider/arrow-top-left.png" class="img-responsive arrow" alt="" />
                </div>
                <!-- Inside LAYERS // top-right-circle -->
                <div class="tp-caption sfr circle-right"
                    data-x="center"
                    data-hoffset="350"
                    data-y="center"
                    data-voffset="-70"
                    data-speed="1000"
                    data-start="3500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <div class="caption-item"><i class="icon-user"></i></div>
                </div>
                <!-- Inside LAYERS // top-right-arrow -->
                <div class="tp-caption sfr"
                    data-x="center"
                    data-hoffset="250"
                    data-y="center"
                    data-voffset="-120"
                    data-speed="500"
                    data-start="3800"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <img src="~/Content/img/slider/arrow-top-right.png" class="img-responsive arrow" alt="" />
                </div>
                <!-- Inside LAYERS // bottom-right-circle -->
                <div class="tp-caption sfr circle-right"
                    data-x="center"
                    data-hoffset="350"
                    data-y="center"
                    data-voffset="120"
                    data-speed="1000"
                    data-start="4500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <div class="caption-item"><i class="icon-suitcase"></i></div>
                </div>
                <!-- Inside LAYERS // bottom-right-arrow -->
                <div class="tp-caption sfr"
                    data-x="center"
                    data-hoffset="240"
                    data-y="center"
                    data-voffset="160"
                    data-speed="500"
                    data-start="4800"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <img src="~/Content/img/slider/arrow-bottom-right.png" class="img-responsive arrow" alt="" />
                </div>
                <!-- Inside LAYERS // bottom-left-circle -->
                <div class="tp-caption sfl circle-left"
                    data-x="center"
                    data-hoffset="-350"
                    data-y="center"
                    data-voffset="120"
                    data-speed="1000"
                    data-start="5500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <div class="caption-item"><i class="icon-gift"></i></div>
                </div>
                <!-- Inside LAYERS // bottom-left-arrow -->
                <div class="tp-caption sfl"
                    data-x="center"
                    data-hoffset="-240"
                    data-y="center"
                    data-voffset="160"
                    data-speed="500"
                    data-start="5800"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <img src="~/Content/img/slider/arrow-bottom-left.png" class="img-responsive arrow" alt="" />
                </div>
            </li>
            <!-- SLIDE TWO -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="500">
                <!-- MAIN IMAGE -->
                <img src="~/Content/img/slider/2.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <!-- LAYERS  -->
                <!-- Inside LAYERS // heading -->
                <div class="tp-caption very_large_text sft heading"
                    data-x="center"
                    data-y="top"
                    data-voffset="30"
                    data-speed="700"
                    data-start="1200"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    Special Offer
							
                </div>
                <!--Inside LAYERS Image -->
                <div class="tp-caption sfl slide-two"
                    data-x="center"
                    data-hoffset="-230"
                    data-y="center"
                    data-speed="500"
                    data-start="1500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <img src="~/Content/img/slider/s22.png" class="img-responsive" alt="" />
                </div>
                <!--Inside LAYERS Image -->
                <div class="tp-caption sfr slide-two"
                    data-x="center"
                    data-hoffset="250"
                    data-y="center"
                    data-voffset="30"
                    data-speed="500"
                    data-start="2500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <img src="~/Content/img/slider/s23.png" class="img-responsive" alt="" />
                </div>
                <!--Inside LAYERS Image -->
                <div class="tp-caption sfb slide-two"
                    data-x="center"
                    data-hoffset="30"
                    data-y="center"
                    data-voffset="100"
                    data-speed="500"
                    data-start="3500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <img src="~/Content/img/slider/s21.png" class="img-responsive" alt="" />
                </div>
                <!--Inside LAYERS Price -->
                <div class="tp-caption lft slide-two"
                    data-x="center"
                    data-hoffset="-350"
                    data-y="center"
                    data-voffset="-70"
                    data-speed="300"
                    data-start="1800"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <div class="price-tag">$399</div>
                </div>
                <!--Inside LAYERS price -->
                <div class="tp-caption lft slide-two"
                    data-x="center"
                    data-hoffset="250"
                    data-y="center"
                    data-voffset="-120"
                    data-speed="300"
                    data-start="2800"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <div class="price-tag">$999</div>
                </div>
                <!--Inside LAYERS price -->
                <div class="tp-caption lft slide-two"
                    data-x="center"
                    data-hoffset="100"
                    data-y="center"
                    data-voffset="120"
                    data-speed="300"
                    data-start="3800"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <div class="price-tag">$99</div>
                </div>
            </li>
            <!-- SLIDE THREE -->
            <li data-transition="fade" data-slotamount="7" data-masterspeed="500">
                <!-- MAIN IMAGE -->
                <img src="~/Content/img/slider/3.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
                <!-- LAYERS  -->
                <!-- INSIDE LAYER // heading  -->
                <div class="tp-caption largegreenbg lfl slide-three heading"
                    data-x="left"
                    data-hoffset="20"
                    data-y="top"
                    data-voffset="110"
                    data-speed="500"
                    data-start="1500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    Full Responsive...  
							
                </div>
                <!-- INSIDE LAYER // paragraph  -->
                <div class="tp-caption medium_text sfl paragraph"
                    data-x="left"
                    data-hoffset="20"
                    data-y="top"
                    data-voffset="210"
                    data-speed="500"
                    data-start="2000"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    Sed ut perspiciatis unde omnis iste natuvo lupt atems<br />
                    error sit voluptatem accusvo luptate mantium demque<br />
                    ab illo invenvol uptate mtore veritatis.
							
                </div>
                <!-- INSIDE LAYER // Button  -->
                <div class="tp-caption sfb c-button"
                    data-x="left"
                    data-hoffset="20"
                    data-y="center"
                    data-voffset="70"
                    data-speed="700"
                    data-start="2500"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <a href="#" class="caption-button br-lblue"><i class="fa fa-desktop"></i>Get It Now</a> &nbsp;&nbsp;&nbsp;<a href="#" class="caption-button br-red"><i class="fa fa-desktop"></i> Download</a>
                </div>
                <!-- Inside LAYERS // Image -->
                <div class="tp-caption sft slide-three"
                    data-x="right"
                    data-hoffset="-10"
                    data-y="center"
                    data-voffset="-50"
                    data-speed="500"
                    data-start="3000"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <img src="~/Content/img/slider/s31.png" class="img-responsive" alt="" />
                </div>
                <!-- Inside LAYERS // Image -->
                <div class="tp-caption sfb slide-three"
                    data-x="right"
                    data-hoffset="-30"
                    data-y="center"
                    data-speed="500"
                    data-start="4000"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <img src="~/Content/img/slider/s32.png" class="img-responsive" alt="" />
                </div>
                <!-- Inside LAYERS // Image -->
                <div class="tp-caption sfb slide-three"
                    data-x="right"
                    data-hoffset="-260"
                    data-y="center"
                    data-speed="500"
                    data-start="5000"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on">
                    <img src="~/Content/img/slider/s33.png" class="img-responsive" alt="" />
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Revolution Slider End -->
