
#Address{
    width: 400px;
    font-size: medium;
    padding: 2px 10px;
    border-radius: 5px !important;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    border-style: none;
}
#suggest{
    padding: 15px 10px 0 10px;
    background: white;
    display: none;
    border-radius: 5px !important;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
#suggest a{
    color: gray;
    font-size: larger;
    text-decoration: none;
    display: list-item;
    margin: -4px 5px;
    list-style-type: none;
}
#suggest a:hover{
    background: #d8d8d8;
}