
.orderAsc{
	background:url('../img/TSMTasc.png') no-repeat 95% center;
}
.orderDes{
	background:url('../img/TSMTdes.png') no-repeat 95% center;
}
.orderHidden{
	background: none;
}
.pageIndex{
	padding:5px 10px;
	border:1px solid gray;
	color:black;
	text-decoration:none;
}
.pageIndex:hover{
	color:white;
	background: green;
    text-decoration:none;
}
.pageActive{
    background: cyan;
}
#leftNavigator{
	float:left
}
#rightNavigator{
	float:right
}
#cbbGoToPage, #cbbRecordPerPage{
    padding:5px 10px;
}