#map_container
{
    width: 100%;
    height: 550px;
}

#map_canvas
{
    float: right;
    height: 100%;
}

#panel
{
    float: left;
    width: 20%;
    height: 100%;
    padding: 0 10px;
}
